table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.spinner-container {
  height: calc(70vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  height: calc(70vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #979797;
}

th.mat-header-cell {
  max-width: 200px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}

td.mat-footer-cell{
  padding-right: 20px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}


td.mat-footer-cell {
  max-width: 200px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.activeRow {
  font-weight: bold;
  background-color: #f1f1f1;
}

td.mat-column-workerCount {
  font-size: 20px;
}

td.mat-column-grossPayTotal {
  font-size: 20px;
}

td.mat-column-labourCostTotal {
  font-size: 20px;
}

td.mat-column-workForcePercentage {
  font-weight: bold;
}

.mat-column-labourCostTotal {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}

.mat-column-workForcePercentage {
  border-left: 1px solid rgba(0,0,0,.12);
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}

.mat-column-payrollAdminTotal {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}

.mat-column-grossPayTotal {
  border-left: 1px solid rgba(0,0,0,.12);
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 15% !important;
}

.text-align-right {
  text-align: right !important;
}