<div class="container">
  <h2>Labour cost report</h2>

  <div class="spinner-container" *ngIf="isLoadingData">
    <mat-spinner></mat-spinner>
  </div>

  <div class="error-container" *ngIf="isErrorData">
    <h2>There was an error getting report, click on the icon to retry 
      <a (click)="getProvidersData()">
        <mat-icon aria-hidden="false" color="accent">refresh</mat-icon>
      </a>
    </h2>
  </div>
  
  <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="desc" [hidden]="isLoadingData || isErrorData">

    <ng-container matColumnDef="name" >
      <th [ngClass]="{'activeRow': sortData.name == 'name'}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">PAYROLL PROVIDER</th>
      <td [ngClass]="{'activeRow': sortData.name == 'name'}" mat-cell *matCellDef="let element">{{element.name}}</td>
      <td [ngClass]="{'activeRow': sortData.name == 'name'}" class="text-align-right" mat-footer-cell *matFooterCellDef> TOTAL</td>
    </ng-container>
  
    <ng-container matColumnDef="workerCount">
      <th [ngClass]="{'activeRow': sortData.name == 'workerCount'}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by workerCount">WORKER</th>
      <td [ngClass]="{'activeRow': sortData.name == 'workerCount'}" mat-cell *matCellDef="let element">{{element.workerCount}}</td>
      <td [ngClass]="{'activeRow': sortData.name == 'workerCount'}" mat-footer-cell *matFooterCellDef> {{totalData.workerCount}} </td>
    </ng-container>

    <ng-container matColumnDef="complianceScore">
      <th [ngClass]="{'activeRow': sortData.name == 'complianceScore'}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by complianceScore">COMPLIANCE SCORE</th>
      <td [ngClass]="{'activeRow': sortData.name == 'complianceScore'}" mat-cell *matCellDef="let element">{{element.complianceScore | number:'1.0-0'}}%</td>
      <td [ngClass]="{'activeRow': sortData.name == 'complianceScore'}" mat-footer-cell *matFooterCellDef> {{totalData.complianceTotal | number:'1.0-0'}}%</td>
    </ng-container>

    <ng-container matColumnDef="grossPayTotal">
      <th [ngClass]="{'activeRow': sortData.name == 'grossPayTotal'}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by grossPayTotal" >GROSS PAY (£)</th>
      <td [ngClass]="{'activeRow': sortData.name == 'grossPayTotal'}" class="text-align-right" mat-cell *matCellDef="let element">{{element.grossPayTotal | number:'1.0-0'}}</td>
      <td [ngClass]="{'activeRow': sortData.name == 'grossPayTotal'}" class="text-align-right" mat-footer-cell *matFooterCellDef> {{totalData.grossPayTotal | number:'1.0-0'}} </td>
    </ng-container>

    <ng-container matColumnDef="payrollAdminTotal">
      <th [ngClass]="{'activeRow': sortData.name == 'payrollAdminTotal'}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by payrollAdminTotal">PAYROLL ADMIN (£)</th>
      <td [ngClass]="{'activeRow': sortData.name == 'payrollAdminTotal'}" class="text-align-right" mat-cell *matCellDef="let element">
        <p *ngIf="element.payrollAdminTotal > 0; else elseBlock">{{element.payrollAdminTotal}}</p>
        <ng-template #elseBlock>-</ng-template>
      </td>
      <td [ngClass]="{'activeRow': sortData.name == 'payrollAdminTotal'}" class="text-align-right" mat-footer-cell *matFooterCellDef> 
        <p *ngIf="totalData.payrollAdminTotal > 0; else elseBlock">{{totalData.payrollAdminTotal}}</p>
        <ng-template #elseBlock>-</ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="labourCostTotal">
      <th [ngClass]="{'activeRow': sortData.name == 'labourCostTotal'}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by labourCostTotal">LABOUR COST (£)</th>
      <td [ngClass]="{'activeRow': sortData.name == 'labourCostTotal'}" class="text-align-right" mat-cell *matCellDef="let element">{{element.labourCostTotal | number:'1.0-0'}}</td>
      <td [ngClass]="{'activeRow': sortData.name == 'labourCostTotal'}" class="text-align-right" mat-footer-cell *matFooterCellDef> {{totalData.labourCostTotal | number:'1.0-0'}} </td>
    </ng-container>

    <ng-container matColumnDef="workForcePercentage">
      <th [ngClass]="{'activeRow': sortData.name == 'workForcePercentage'}" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by workForcePercentage">WORK-FORCE</th>
      <td [ngClass]="{'activeRow': sortData.name == 'workForcePercentage'}" mat-cell *matCellDef="let element">{{element.workForcePercentage | number:'1.1-1'}}%</td>
      <td [ngClass]="{'activeRow': sortData.name == 'workForcePercentage'}" mat-footer-cell *matFooterCellDef>100%</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>
    
</div>