<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>
            <a mat-button [routerLink]="'/home'"> Challenge Master </a>
        </h1>
        <span class="navbar-spacer"></span>
        <div>
            <button mat-button [matMenuTriggerFor]="belowMenu">Reports</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item [routerLink]="'/reports/labour-cost'"> Labour cost</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item (click)="toggleMenu()">
                <mat-icon mat-list-icon>assessment</mat-icon> Reports
                <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
                <mat-icon *ngIf="showMenu">expand_more</mat-icon>
            </a>
            <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
                <a mat-list-item [routerLink]="'/reports/labour-cost'"> Labour cost</a>
            </mat-nav-list>
            <mat-divider></mat-divider>

            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
                <mat-icon aria-hidden="false">clear</mat-icon>
                Close
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="layout-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>