html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans" !important; }

.layout-container{
    height: 100vh;
}
.navbar-spacer {
    flex: 1 1 auto;
} 

.mat-list-item {
    padding-left: 10px !important;
    padding-right: 30px !important;
}

.mat-menu-content {
    padding-left: 10px !important;
    padding-right: 30px !important;
    width: 100%;
}

.mat-list-item, .mat-button, .mat-table, .mat-typography h1 , .mat-typography h2 {
    font-family: "Open Sans";
}

.container{
    padding: 30px;
    font-family: "Open Sans" !important;
}